body{
    font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
}
h1{
    font-weight: 700px;
    font-size: 50px;
}
.header-title{
    margin-left: 50px;
    margin-top: 50px;
}
header:hover{
    background-color: rgb(124, 18, 18);
}
header{
    display: flex;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 30px;
    width: 1321px;
    height: 646px;
    top: 50px;
    left: 140px;
    margin-bottom: 130px;
    margin-left: 80px;
    margin-right: 80px;
}
.nav-bar :hover{
  font-size: 20px;
}
.nav-bar{
    background-color: red;
    height: 56px;
    width: 187px;
    top: 529px;
    left: 246px;
    padding: 16px, 25px, 16px, 25px ;
    border: 1px solid red;
    border-radius: 5px;
    gap: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: font-size 2s;
}
.header-link{
    text-decoration: none;
    color: white;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 93%;
}
main{
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
}
.blog-side-button{
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 177, 177);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom:920PX;
    border: 1px solid black;
    border-radius: 5px;
}
.blog-button{
    background-color: white;
    height: 56px;
    width: 187px;
    padding: 16px, 25px, 16px, 25px ;
    border: 1px solid red;
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-decoration: none;
    color: black;
}

.blog-images-part{
    display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.side-button:visited{
    color: white;
  background-color: rgb(193, 64, 64);
}
.side-button:hover{
    color: rgb(38, 13, 13);
  background-color: rgb(242, 174, 174);
}
.match{
    display: flex;
    margin-top: 20px;
    margin-left: 15px;
    padding-bottom: 30px;
    padding-right: 20px;
}
.match-time{
    margin-left: 20px;
}

.blog-card{
    border: 1px solid red;
    margin-left: 15px;
    margin-bottom: 300px;
}
.view-all{
    visibility: hidden;
 }
 .social-icon{
    display: flex;
    justify-content: center;
}
.fa-brands , .fa-solid{
    margin: 20px;
    font-size: 30px;
}
.fa-brands:hover{
    opacity: 0.4;
}
.fa-solid:hover{
    opacity: 0.4;
}
.footer-end{
    display: flex;
justify-content: space-between;
margin: 20px;    
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;

}



/*------------------------------------------
       Responsive mobile devices 
--------------------------------------------*/
 
@media only screen and (max-width: 688px) {
   
    h1{
        font-weight: 500px;
        font-size: 20px;
    }
    p{
        font-weight: 500px;
        font-size: 10px;
    }
    header{
        display: flex;
      flex-direction: column;
      background-color: black;
      color: white;
      width: 321px;
      height: 646px;
      margin-left: 50px;
    }
    
    main{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        
    }
    .half-width{
        height: 50%;

    }
    .half-width img{
        width: 180%;
        height: 100%;
        margin-left: 20px;
    }
    .blog-images-part{
        display: grid;
       grid-template-columns: repeat(1, 1fr);
    }
    .icon-blog-end{
        display: flex;
        flex-direction: row;
    }
    .blog-side-button{
        display: flex;
        flex-direction: column;
        background-color: transparent;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 3px;
        border: 1px solid transparent;
        border-radius: 5px;
        padding-right: 30px;
  }
  .blog-button{
    height: 56px;
    width: 150px;
    top: 529px;
    left: 246px;
    padding: 16px, 25px, 16px, 25px ;
    border: 1px solid red;
    border-radius: 5px;
    gap: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-decoration: none;
    color: black;
}
.footer-end{
    display: flex;
    flex-direction: column;
}
.social-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

}


  /*------------------------------------------
       Responsive  tablet devices 
--------------------------------------------*/
@media only screen and (min-width: 688px) and (max-width:1282px) {
    body {
      background-color:white;
    }
    h1{
        font-weight: 600px;
        font-size: 30px;
    }
    header{
        width: 900px;
        height: 600px;
        top: 50px;
        left: 140px;
        margin-bottom: 130px;
        margin-left: 80px;
        margin-right: 80px;
    }
    .blog-side-button{
        display: flex;
        flex-direction: row;
        background-color: transparent;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 3px;
        border: 1px solid transparent;
        border-radius: 5px;
        padding-right: 30px;
  }
  .blog-images-part{
    display: grid;
   grid-template-columns: repeat(2, 1fr);
}
main{
    display: flex;
    flex-direction: column;
}
.header-title{
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 30px;
}
.view-all{
    visibility: visible;
   margin-left: 400px;
   background-color: red;
   color: white;
   margin-bottom: 30px;
 }
 

  }
